body{
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 242) !important;
}
.header{
    height: 80px;
    background-color: rgb(10, 89, 235);
    margin-bottom: 20px;
}
.header img{
    margin-top: 5px;
}
.header .nav-area nav ul li a{
    line-height: 25px;
    height: 28px;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}

.header .nav-area i{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 10px;
    color: white;
}
.header #nav-account h6{
    margin-top: -34px;
    margin-left: 88px;
    color: white;
}
.header #nav-account p{
    margin-top: -43px;
    margin-left: 68px;
}
/*------------------------manu-------------------*/
#Menu{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 187, 0);
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 10px;
}

/*------------------------dis_manu-------------------*/
.dis_menu{
    height: 50px;
    margin-bottom: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dis_menu marquee a{
    margin-left: 30px;
    color: black;
    text-decoration: none !important;
}



#sellers {
    background-color: white;
    height: 40px;
    width: 140px;
    margin-top: -36px;
    margin-left: 50px;
    border-radius: 16px 16px 16px 16px;
}
#sellers p{
    padding-left: 25px;
    padding-top: 6px;
}

                        /*-----c1r1-----*/

.c1r1{
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/row1-1st-img.jpeg);
    background-size: 100% 140px;
    background-repeat: no-repeat;
    margin-left: 38px;
    margin-bottom: 50px;
}
.c1r1 i {
    margin-left: 4px;
    margin-top: 110px;
    float: left;
}
.c1r1 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white;
}
.c1r1 h6{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 17px;
}
.c1r1 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c1r1 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c1r1 a{
    margin-left: 4px;
}

                        /*-----c1r2-----*/

.c1r2{
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/4d42a594-14be-48d2-ac4a-adcd0034a08f_FierySausagePaprikadef.jpeg);
    background-size: 100% 140px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.c1r2 i {
    margin-left: 4px;
    margin-top: 110px;
    float: left;
}
.c1r2 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white;
}
.c1r2 h6{
    margin-left: 4px;
    margin-top: 17px;
}
.c1r2 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c1r2 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c1r2 a{
    margin-left: 4px;
}

                        /*-----c1r3-----*/

.c1r3{
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c1r3.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.c1r3 i {
    margin-left: 4px;
    margin-top: 110px;
    float: left;
}
.c1r3 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white;
}
.c1r3 h6{
    margin-left: 4px;
    margin-top: 17px;
}
.c1r3 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c1r3 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c1r3 a{
    margin-left: 4px;
}

                        /*-----c2r1-----*/

.c2r1{
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c1r4.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat;
    margin-left: 38px;
    margin-bottom: 50px;
}
.c2r1 i {
    margin-left: 4px;
    margin-top: 110px;
    float: left;
}
.c2r1 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white;
}
.c2r1 h6{
    margin-left: 4px;
    margin-top: 17px;
}
.c2r1 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c2r1 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c2r1 a{
    margin-left: 4px;
}

                                               /*-----c2r2-----*/

.c2r2{              
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c2r1.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat;  
    margin-bottom: 20px;
}
.c2r2 i {       
    margin-left: 4px;
    margin-top: 110px;
    float: left;   
}
.c2r2 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white; 
}
.c2r2 h6{      
    margin-left: 4px;
    margin-top: 17px;   
}
.c2r2 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c2r2 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c2r2 a{
    margin-left: 4px;
}

                        /*-----c2r3-----*/

.c2r3{              
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c2r2.png);
    background-size: 100% 140px;
    background-repeat: no-repeat;   
    margin-bottom: 50px;
}
.c2r3 i {       
    margin-left: 4px;
    margin-top: 110px;
    float: left;   
}
.c2r3 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white; 
}
.c2r3 h6{      
    margin-left: 4px;
    margin-top: 17px;   
}
.c2r3 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c2r3 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c2r3 a{
    margin-left: 4px;
}
                                                   /*-----c3r1-----*/

.c3r1{              
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c2r3.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat;
    margin-left: 38px;   
    margin-bottom: 50px;
}
.c3r1 i {       
    margin-left: 4px;
    margin-top: 110px;
    float: left;   
}
.c3r1 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white; 
}
.c3r1 h6{      
    margin-left: 4px;
    margin-top: 17px;   
}
.c3r1 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c3r1 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c3r1 a{
    margin-left: 4px;
}

                                                                    /*-----c3r2-----*/

.c3r2{              
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c3r2.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat;  
    margin-bottom: 50px;
}
.c3r2 i {       
    margin-left: 4px;
    margin-top: 110px;
    float: left;   
}
.c3r2 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white; 
}
.c3r2 h6{      
    margin-left: 4px;
    margin-top: 17px;   
}
.c3r2 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c3r2 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c3r2 a{
    margin-left: 4px;
}

                            /*-----c3r3-----*/

.c3r3{              
    height: 300px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/c3r3.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 50px;
}
.c3r3 i {       
    margin-left: 4px;
    margin-top: 110px;
    float: left;   
}
.c3r3 h5{
    margin-top: 105px;
    margin-left: 13px;
    color: white; 
}
.c3r3 h6{      
    margin-left: 4px;
    margin-top: 17px;   
}
.c3r3 p{
    text-align: justify;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: rgb(131, 125, 125);
}
.c3r3 hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -10px;
}
.c3r3 a{
    margin-left: 4px;
}
                                    /*-----Top brands for you-----*/

.text_top p{
    font-size: 35px;
    margin-top: 20px;
}
.brand img{
    border-radius: 50%;
}
.brand a h6{
    margin-top: 20px;
    text-align: center ;
    line-height: 1px;
    color: black;
}
.text_bfood p{
    font-size: 35px;
    margin-top: 20px;
}


                                    /*-----b1-----*/


.best_food .b1{              
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/Veggie\ Grilled\ Sandwich.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 20px;  
}
.best_food .b1 i {       
    margin-left: 4px;
    margin-top: 110px;  
}
.best_food .b1 h6{
    margin-top: 15px;
}

.best_food .b1 p i{
    margin-top: 0px;
    margin-right: -5px;
    font-size: 15px;
}
.best_food .b1 p{
    font-size: 13px;
}
.best_food .b1 a{
    text-decoration: none;
    color: black;
}
                        /*-----b2-----*/

.best_food .b2{              
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/Egg\ Sandwich.jfif);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 20px;  
}
.best_food .b2 i {       
    margin-left: 4px;
    margin-top: 110px;  
}
.best_food .b1 h6{
    margin-top: 15px !important;
}

.best_food .b2 p i{
    margin-top: 0px;
    margin-right: -5px;
    font-size: 15px;
}
.best_food .b2 p{
    font-size: 13px;
}
.best_food .b2 a{
    text-decoration: none;
    color: black;
}
                                    /*-----b3-----*/

.best_food .b3{              
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/Double\ Story\ Burger.avif);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 20px;  
}
.best_food .b3 i {       
    margin-left: 4px;
    margin-top: 110px;  
}
.best_food .b3 h6{
    margin-top: 15px;
}

.best_food .b3 p i{
    margin-top: 0px;
    margin-right: -5px;
    font-size: 15px;
}
.best_food .b3 p{
    font-size: 13px;
}
.best_food .b3 a{
    text-decoration: none;
    color: black;
}
                                               /*-----b4-----*/

.best_food2 .b4{              
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/ChickenMomos\(6\ pcs\).avif);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 20px;  
}
.best_food2 .b4 i {       
    margin-left: 4px;
    margin-top: 110px;  
}
.best_food2 .b4 h6{
    margin-top: 15px;
}

.best_food2 .b4 p i{
    margin-top: 0px;
    margin-right: -5px;
    font-size: 15px;
}
.best_food2 .b4 p{
    font-size: 13px;
}
.best_food2 .b4 a{
    text-decoration: none;
    color: black;
}
                                /*-----b5-----*/

.best_food2 .b5{              
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/biryani.webp);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 20px;  
}
.best_food2 .b5 i {       
    margin-left: 4px;
    margin-top: 110px;  
}
.best_food2 .b5 h6{
    margin-top: 15px;
}

.best_food2 .b5 p i{
    margin-top: 0px;
    margin-right: -5px;
    font-size: 15px;
}
.best_food2 .b5 p{
    font-size: 13px;
}
.best_food2 .b5 a{
    text-decoration: none;
    color: black;
}

                        /*-----b6-----*/

                        
.best_food2 .b6{              
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px 4px 4px 4px;
    background-image: url(../image/soya-chaap-curry.jpg);
    background-size: 100% 140px;
    background-repeat: no-repeat; 
    margin-bottom: 20px;  
}
.best_food2 .b6 i {       
    margin-left: 4px;
    margin-top: 110px;  
}
.best_food2 .b6 h6{
    margin-top: 15px;
}

.best_food2 .b6 p i{
    margin-top: 0px;
    margin-right: -5px;
    font-size: 15px;
}
.best_food2 .b6 p{
    font-size: 13px;
}
.best_food2 .b6 a{
    text-decoration: none;
    color: black;
}

                        /*------seemolre------*/

.see_more a{
    width: 500px;
    text-align: center;
    margin-bottom: 30px;
}

                        /*------footer------*/


.footer{
    height: 260px;
    background-color: #213555;
    margin-bottom: 10px;
}
.footer img{
    margin-top: 40px;
}
.footer .c-logo h2{
    margin-top: -60px;
    margin-left: 100px;
}
.text_footer p{
    float: left;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.apps i{
    margin-top: 30px;
    color: white;
    margin-right: 10px;
    font-size: 25px;
}
.apps h5{
    margin-top: 30px;
    color: white;
}
.apps img{
    margin-top: 10px;
}
.Copyright p{
    margin-top: 20px;
    margin-left: 400px;
}

@media(max-width:600px){
    .brand{
        height: auto;
    }
    .brand h6{
        margin-left: -300px;
        line-height: 20px;
    }
    .brand img{
        margin-top: 30px;
    }
    .footer{
        height: auto;
    }
    .Copyright{
        height: auto;
    }
    .Copyright p{
        margin-left: 15px;
    }
    .text_footer{
        margin-top: 10px;
    }
}